# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
out
dist
build
.contentlayer

# Environment files
.env*

# IDE
.vscode
.idea

# OS
.DS_Store

# Logs
*.log

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock